version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped

    ports:
      - "5672:5672" 
      - "15672:15672"

    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123

    volumes:
      - ./data/rabbitmq_data:/var/lib/rabbitmq
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped

    command: server /data --console-address ":9001"

    ports:
      - "9000:9000"
      - "9001:9001"

    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
      # RabbitMQ config
      MINIO_NOTIFY_AMQP_ENABLE: "on"
      MINIO_NOTIFY_AMQP_URL: "amqp://admin:admin123@rabbitmq:5672"
      MINIO_NOTIFY_AMQP_EXCHANGE: "minio-events"
      MINIO_NOTIFY_AMQP_EXCHANGE_TYPE: "topic"
      MINIO_NOTIFY_AMQP_ROUTING_KEY: "s3.events"
      MINIO_NOTIFY_AMQP_DELIVERY_MODE: "2" # persistent
    depends_on:
      - rabbitmq
    volumes:
      - ./data/minio_data:/data

  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_pass123
    volumes:
      - ./data/postgres_data:/var/lib/postgresql/data